<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <configSections>
    <section name="dataConfiguration" type="Microsoft.Practices.EnterpriseLibrary.Data.Configuration.DatabaseSettings, Microsoft.Practices.EnterpriseLibrary.Data, Version=5.0.505.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" requirePermission="true" />
    <section name="oracleConnectionSettings" type="WYYY.HDGM.DataContext.Configuration.OracleConnectionSettings, WYYY.HDGM.DataContext, Version=1.0.0.0, Culture=neutral, PublicKeyToken=null" requirePermission="true" />
  </configSections>

  <system.data>
    <DbProviderFactories>
      <add name="WYYY.HDGM.DataContext" invariant="WYYY.HDGM.DataContext" description="EntLibContrib Data OdpNet Provider" type="WYYY.HDGM.DataContext.OracleDatabase, WYYY.HDGM.DataContext, Version=1.0.0.0, Culture=neutral, PublicKeyToken=null" />
    </DbProviderFactories>
  </system.data>

  <dataConfiguration defaultDatabase="Default Connection String">
    <providerMappings>
      <add databaseType="WYYY.HDGM.DataContext.OracleDatabase, WYYY.HDGM.DataContext, Version=1.0.0.0, Culture=neutral, PublicKeyToken=null" name="WYYY.HDGM.DataContext" />
    </providerMappings>
  </dataConfiguration>

  <oracleConnectionSettings>
    <add name="Default Connection String">
      <packages>
        <add prefix="PKGNORTHWIND" name="NWND_" />
        <add prefix="PKGENTLIB" name="RegionSelect" />
      </packages>
    </add>
  </oracleConnectionSettings>


  <connectionStrings>
    <add name="Default Connection String" connectionString="Data Source=ORACLE82;User id=system;Password=aaaabbbccc" providerName="WYYY.HDGM.DataContext" />
  </connectionStrings>
</configuration>