body {
    font-family: 微软雅黑;
    
    background: url('../../content/img/newHome/BG.png')  no-repeat;
    /*filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(src='/content/img/newHome/BG.jpg', sizingMethod='scale');
    -moz-background-size:100% 100%;*/  
    background-size:100% 100%;  

    background-color:#52B8D7;
    height: 100%;
    
}

        .clock {
            margin: 0 auto;
            padding: 0px;
            list-style: none;
        }

            .clock > li {
                display: inline;
                text-align: center;
            }

.lenovo {
    margin-top:30px;

    
}

.reportMain {
    background: url('../../content/img/newHome/30black.png') repeat;
    padding-left: 10px;
    padding-right: 10px;
    width: 99%;
    height:800px;
    /*overflow-y: scroll;
    overflow-x: hidden;*/

    margin-left: 30px\0;
     width: 94.5%\0 !important;
}

.contentRow {
    margin-left: 5px;
    margin-right: 5px;
    
    background-color: #F7F7F7;
}




#div_header {
    height: 100px;
    /*padding-left: 40px;*/
}


p {
    margin: 0 0 0 0;
}
.nav > li > a {
    color: white;
}
.navleft {
    font-size: 30px;
    padding-top: 20px;
    
}
.leftNavigation {
    background: url('../../content/img/login/BlueBG.png') repeat;
    color: white;
    width: 15%;
    padding-left: 0px;
    
    padding-right: 0px;
    position: fixed;
    left: 0;
    top: 0;
    bottom: 0;
    overflow: hidden;
}

#div_footer {
    position: fixed;
    left: 15.5%;
    bottom: 0;
    width: 80%;

}
.nav-pills>li>a {
  border-radius: 0px; 
}

.returnPage {
    color:white;
    font-size: 40px;
    padding-left:20px;
    cursor: pointer;
    
}
.moduleIndicate {
    color: white;
    text-align: right;
    padding-top: 10px;
    padding-right: 20px;
}






        .nav-choice {
            margin-left: -20px;
            margin-top: 30px;
        }

        .nav > li > a:hover,
        .nav > li > a:focus {
            background: #4aa0e9;
        }

        .nav > li.active {
            background: #4aa0e9;
        }

@media only screen and (min-width: 1024px)  {
   
    .lenovo {
        left: 17px;
    }
    .reportMain {
        height: 600px;
    }
    .contentRow {
   
    height:535px;
}
   
}
@media only screen and (min-width: 1280px)  {
   

  
     .reportMain {
        height: 750px;
    }

         .contentRow {
   
    height:685px;
}
}
@media only screen and (min-width: 1440px)  {
   

     .reportMain {
        height: 750px;
    }

         .contentRow {
   
    height:685px;
}
    
}