body {
    font-family: 微软雅黑;

    background: url('../img/Home/BG.png')  no-repeat;
    /*filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(src='/content/img/newHome/BG.jpg', sizingMethod='scale');
    -moz-background-size:100% 100%;*/
    /*background-size:100% 100%;*/

    background-color:#52B8D7;

}
.imgText {
    padding-top: 10px;
    padding-top: 5px\0;
    /*margin-left: -10px;*/

}
.text-big {
    font-size: 22px;
}
.lenovo {
    position: fixed;
    bottom: 20px;

}

.clock {
    margin: 0 auto;
    padding: 0px;
    list-style: none;
}

.clock > li {
    display: inline;
    text-align: center;
}

@media only screen and (min-width: 1024px)  {
    .imgText {
        font-size: 12px;
    }
    .verticalLine {
        position: absolute;
        left: 65px;
        top: 0px;
    }
    .lenovo {
        left: 17px;
    }
    .hospitalLogo {
        padding-right: 30px;
    }
}
@media only screen and (min-width: 1280px)  {
    .imgText {
        font-size: 14px;
    }
    .verticalLine {
        position: absolute;
        left: 85px;
        left: 90px\0;
        top: 0px;
    }
    .lenovo {
        left: 40px;
        left: 50px\0;
    }
    .hospitalLogo {
        padding-right: 20px;
    }
}
@media only screen and (min-width: 1440px)  {
    .imgText {
        font-size: 14px;
    }

    .verticalLine {
        position: absolute;
        left: 85px;
        left: 90px\0;
        top: 0px;
    }
    .lenovo {
        left: 40px;
        left: 50px\0;
    }

    .hospitalLogo {
        padding-right: 20px;
    }
}

.lead {
    margin-bottom: 10px;
}

.left{
    float:left;
}

.right
{
    float: right;
}

.right-header {
    padding-left:20px;
    height: 70px;
    /*padding-left: 40px;*/
}

.mobilePadding {
    padding-left: 0px;
    padding-right: 0px;
}

.reportRow {
    height: 660px;
    padding-top: 10px;
    padding-left: 20px;

    padding-left: 50px\0;/*IE8*/
}

/*.verticalLine {
    position: absolute;
    left: 80px;
    left: 90px\0;
    top: 0px;
}*/

/*IE8 !important*/
.leftGo {
    padding: 0px;
    width: auto !important;

    float: right !important;
    cursor: pointer;
}
/*IE8 !important*/
.rightGo {
    padding: 0px;
    width: auto !important;

    float: right !important;
    cursor: pointer;
}

p {
    margin: 0 0 0 0;
}
.nav > li > a {
    color: white;
}
.navleft {
    font-size: 30px;
    padding-top: 20px;

}
.leftNavigation {
    background: url('../img/login/BlueBG.png') repeat;

    color: white;
    width: 15%;
    padding-left: 0px;

    padding-right: 0px;
    position: fixed;
    left: 0;
    top: 0;
    bottom: 0;
    overflow: hidden;
}

#div_footer {
    position: fixed;
    left: 15.5%;
    bottom: 0;
    width: 80%;

}
.nav-pills>li>a {
    border-radius: 0px;
}
.col-sm-12 > p {
    font-family: 黑体;
    font-size: 20px;
}
.div_chart {
    padding-left: 12px;
    padding-left: 13px\0;/*IE8 IE9*/
    padding-right:0px;
}
.div_nav {
    color: white;
    border-color: #154A6A;
    background: url('../img/Home/30black.png') repeat;
    margin-bottom: 10px;
}

/*.div_nav :hover {
    color: white;
    background: #4AA0E9;
}*/

.div_navContent {
    float: right;
}

.p_navContent {
    font-family: 黑体;
    font-size: 16px;
}


.reportMain {
    padding-left: 10px;
    padding-right: 10px;
    width: 99%;
    height: 700px;
    overflow-y: scroll;
    overflow-x: hidden;
}

.detail-chart {
    height: 300px;
    width:650px;
}

.detail-content
{
    background: url('../img/Home/30black.png') repeat;
    padding-left: 10px;
    padding-right: 10px;
}


.returnPage {
    color: white;
    font-size: 40px;
    padding-left: 5px;
    cursor: pointer;
}

.moduleIndicate {
    color: white;
    text-align: right;
    padding-top: 10px;
    padding-right: 20px;
}


.detail-item
{
    cursor: pointer;
}
.detail-item:hover
.detail-item-active{
    background:cornflowerblue;
    color:white;
}


.nav-choice {
    margin-left: -20px;
    margin-top: 30px;
}

.nav > li > a:hover,
.nav > li > a:focus {
    background: #4aa0e9;
}

.nav > li.active {
    background: #4aa0e9;
}

.chartMore {
    border: 1px solid #4AA0E9;
    margin-left: -20px;
    margin-top: 30px;
}

.chartMore > a {
    position: relative;
    display: block;
    padding: 10px 15px;
}

.chartMore > a:hover,
.chartMore > a:focus {
    background: #4aa0e9;
}

.rightcontainer
{
    padding-left:0px;
    padding-right: 0px;
}




/*Clock 组件样式*/

.clock-position
{
    margin-top: 25px; float: left; font-size: 28px; color: white; margin-left: 20px\0;
}
.clock-date
{
    width:300px;
}

.clock-time
{
    width:150px;
}


/*用户操作组件*/
.userzone
{
    padding-right: 0px;
}


.usercontrol-name{
    margin-top: 25px; float: left; font-size: 28px; color: white; margin-right: 15px;
}

.usercontrol-symbol
{
    padding-top: 20px;
}

.navsymbol-position
{
    padding-top: 30px;
}

/*登录组件样式*/
.loginContainer {
    position: fixed;
    left: 38%;
    height: 100%;
    width: 25%;
    background: url('../img/login/BlueBG.png');
}

.logoImg {
    position: relative;
    left: 32%;
}

.login-footer {
    margin-top: 45px;
}

.info-links {
    font-size: 11px;
    margin-top: 5px;
    color: rgba(151, 152, 152, 0.7);
}

.formControl {
    height: 53px;
    border: 1px solid white;
    width: 72%;
}

.loginIcon {
    /*margin-top: -1px;*/
}
.login-form {
    position: relative;
    color: white;
    top: 15%;
}
.form-group {
    background: white;
    color: black;
    font-size: 25px;
}

input:focus {
    /*border: 1px solid white; 13818866603 */
}

.loginBtn {
    width: 100%;
    text-align: center;
    position: relative;

    height: 50px;
    background:   url('../img/login/BlueBG.png');
    border: 1px solid white;
    border-radius: 0px;
    color: white;
}
.loginBtn:focus,
.loginBtn:hover {
    background:   white;
    color: #49aecf;
}


.formGroup {
    margin-left: -15px;
    margin-right: -15px;
    margin-bottom: 15px;
    background-color: white;
    color: #4BA1D0;
}
.formGroupBtn {
    margin-left: -15px;
    margin-right: -15px;
    margin-bottom: 15px;
}

.rowContent {
    background: url('../img/Home/30black.png') repeat;
    color: white;
    height: 120px;

}

.pannelContent {
    background: url('../img/Home/30green.png') repeat;
    margin-right: 10px;
    width: 16.5%;
}

.pannelContentWarning {
    background: url('../img/Home/30blue.png') repeat;
    margin-right: 10px;
    width: 16.5%;
}

.bottomContent {
    float: right;
    margin-right: 20px;
}

/*Checkin Widget*/

.wgt-symbol
{
    padding-left: 10px;
    padding-right: 5px;
    padding-top: 20px;
}

.checkin-wgt-content
{
    background: url('../img/Home/30green.png') repeat;
    margin: 5px;
    padding-left: 40px;
    padding-right: 10px;
    height: 100px;
    left: 10px;
}

/*坐诊情况 widget*/
.outpatient-ms-left
{
    vertical-align: middle;
    margin: 5px;
    padding-left: 10px;
    padding-right: 10px;
    padding-top: 10px;
    height: 100px;
}

.outpatient-ms-right
{
    margin: 5px;
    padding-left: 10px;
    padding-right: 10px;
    padding-top: 10px;
}
.outpatient-ms-p
{
    padding-bottom: 5px;
}


/*手术widget 样式*/

.surgerywgt-symbol
{
    margin-left: 0px;
    margin-right: 0px;
}

.surgerywgt-symbol-content{

    padding-left: 10px;
    padding-right: 5px;
    padding-top: 20px;

}

/*住院wdg 样式*/
.hospitalzation-p
{
    margin-bottom: 0px;
}


/*就医时常wgt样式*/

.ue-symbol
{
    margin-top: 20px;
    margin-left: -5px;
}
.ue-symbol-p
{
    margin-left: -30px;
    margin-left: -40px\0;
}

.ue-content{
    left:-3%;
}
.ue-content-p
{
    margin-left: -5px;
}

.ue-rightgo
{
    position: absolute;
    right: 0%;
}

/*门诊页面 挂号信息*/
.reg-content
{
    margin-top: 20px;

}

.reg-content-p
{
    padding-bottom: 10px;
}

.appointrete-strong
{
    font-size:28px;
    font-weight:100;
}


/*住院组件样式*/
.inhospital-wgt-content
{
    margin-top: 5px; margin-bottom: 5px; padding-top: 10px;
}

/*药品*/
.med-symbol-p
{
    width:60px;
}



/*跳转组件*/
.redirect-wgt-size
{
    width: 455px;
    height: 74px;
}


/*处方配方*/
.recipe-wgt-content
{
    margin: 5px; padding-left:10px; padding-right: 10px;font-size:15px;padding-top:10px;
}
.recipe-wgt-content-title
{
    border-bottom: 1px solid white;padding-bottom:5px;
}


/*手术*/

.operation-box {
    background: url('../img/Home/30green.png') repeat;
    margin-right: 10px;
    width: 120px;
    height: 100px;
    margin-top: 10px;
}

.operation-box-clean {
    margin-right: 10px;
    margin-top: 10px;
    width: 120px;
    height: 100px;
}
.operation-box-p {
    float: right;
    margin-right: 5px;
}
.operation-box-indicate
{
    margin-top: 10px;
}


.datepicker
{
    width:150px;
    float:left;
    text-align: center;
    margin-right: 5px;
}

.operation-detail-content
{
    background: url('../img/Home/30black.png') repeat;
    margin-top: 20px;
    width: 100%;
    height:365px;
    overflow: hidden;
}

.operation-detail-return
{
    color: white;
    font-size: 40px;
    padding-left: 5px;
    cursor: pointer;
}

.operation-detail-indicate {
    color: white;
    text-align: right;
    padding-top: 10px;
    padding-right: 20px;
}

.operation-detail-content-row {
    margin-left: 5px;
    margin-right: 5px;
    background-color: #F7F7F7;
}



/*医生签到详情页面样式*/


.chartNav {
    float: right;
}

.chartNav > li > a {
    color: #108CCD;
    padding: 5px;
}

.chartNav > li > a:hover, .nav > li > a:focus {
    background: #4aa0e9;
    color: white;
}

.nextInfo {
    position: relative;
    top: 55%;
}
.nextInfoContainer {
    height: 320px;
}
.personPanel {
    padding-top: 40px;
}

.personPanel > ul > li > a {
    margin-right: 0px;
    border-radius: 0px;
}

.personPanel > ul > li > a:hover,
.personPanel > ul > li > a:focus {
    background: #F7F7F7;
}

.personPanel > ul > li > a {
    color: black;
}

.personPanel > ul {
    border-bottom: 0px;
}

.personContent {
    background: white;

    border-left: 1px solid #ddd;
    border-bottom: 1px solid #ddd;
    border-right: 1px solid #ddd;

}

.tabContent {
    height: 85%;
    overflow-y: auto;
}

.table {
    margin-bottom: 5px;
}

.table > thead > tr > td,
.table > tbody>tr > td {
    width: 50%;
}

.contentRow {
    height: 685px;
    margin-left: 5px;
    margin-right: 5px;
    background-color: #F7F7F7;
}


/*所有chart样式*/
.chart-size
{
    height:110px;
}

.btn {
    border-radius: 0px;
    /*width: 70px;*/
}
.btn-lg
{
    width:100px;
    background-color:#0988CE;
    color:white;
}

.input-lg
{
    width:400px;
    border-radius:0px;
}
.operation-btn-click {
    color: white;
    background-color: #0988CE;
}

.btn:hover,
.btn:active,
.btn:focus {
    color: white;
    background-color: #0988CE;
}
.dataControl{
    height:34px;
}

.checkbox, .radio {

    margin-top: 0px;

}



/*数据警示*/
.indicate-alarm
{
    color:red;
}

/*文字长度*/
.wgt-size
{
    width:455px;
    height: 120px;
}


/*Extension 样式*/
.extension-position
{
    top: 45%;
    position: absolute;
    left: 48.4%
}

.wgt-margin-right
{
    margin-right: 10px;
}

.wgt-group
{
    height:120px;
    width:940px;
    position: relative;
    margin-top: 10px;
}

.wgt-content-position
{
    margin-top:10px;
}

.wgt-group-ue
{

    height:120px;
    width:920px;
    position: relative;
    margin-top: 10px;
}

.wgt-symbol-p
{
    padding-right:45px;
    white-space: nowrap;
}