<?xml version="1.0" encoding="utf-8"?>
<!--
  有关如何配置 ASP.NET 应用程序的详细信息，请访问
  http://go.microsoft.com/fwlink/?LinkId=169433
  -->
<configuration>
  
    <configSections>
      
    <section name="unity" type="Microsoft.Practices.Unity.Configuration.UnityConfigurationSection, Microsoft.Practices.Unity.Configuration" />

    <section name="dataConfiguration" type="Microsoft.Practices.EnterpriseLibrary.Data.Configuration.DatabaseSettings, Microsoft.Practices.EnterpriseLibrary.Data, Version=5.0.505.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" requirePermission="true" />
    <section name="oracleConnectionSettings" type="HBB.DataContext.Configuration.OracleConnectionSettings, HBB.DataContext, Version=1.0.0.0, Culture=neutral, PublicKeyToken=null" requirePermission="true" />
  </configSections>  
  <unity>
    <assembly name="HBB.DataService" />
    <namespace name="HBB.DataService" />
    <namespace name="HBB.DataService.Fake" />
    <namespace name="HBB.DataService.ServiceInterface" />
    <container>
      <register type="IGenericService" mapTo="GenericService" />
      <register type="IOutpatientService" mapTo="OutPatientServiceFake" />
      <register type="IPatientsExperenceService" mapTo="PatientsExperenceServiceFake" />
      <register type="IOutpatientReportService" mapTo="OutpatientReportServiceFake" />
      <register type="IDoctorRegisterService" mapTo="DoctorRegisterServiceFake" />
      <register type="IHomeInformation" mapTo="HomeInformationServiceFake" />
      <register type="IMedicalServiceSituation" mapTo="MedicalServiceSituationService" />
      <register type="IBeInHospitalService" mapTo="BeInHospitalServiceFake" />
      <register type="IMedicineService" mapTo="MedicineServiceFake" />
     <register type="IOperationService" mapTo="OperationService" />
    </container>
   </unity>
    <system.data>
    <DbProviderFactories>
      <add name="HBB.DataContext" invariant="HBB.DataContext" description="EntLibContrib Data OdpNet Provider" type="HBB.DataContext.OracleDatabase, HBB.DataContext, Version=1.0.0.0, Culture=neutral, PublicKeyToken=null" />
    </DbProviderFactories>
  </system.data>
  
    <dataConfiguration defaultDatabase="Default Connection String">
    <providerMappings>
      <add databaseType="HBB.DataContext.OracleDatabase, HBB.DataContext, Version=1.0.0.0, Culture=neutral, PublicKeyToken=null" name="HBB.DataContext" />
    </providerMappings>
  </dataConfiguration>
    
    <oracleConnectionSettings>
    <add name="Default Connection String">
      <packages>
        <add prefix="PKGNORTHWIND" name="NWND_" />
        <add prefix="PKGENTLIB" name="RegionSelect" />
      </packages>
    </add>
  </oracleConnectionSettings>
    
  
     <connectionStrings>
    <add name="Default Connection String" connectionString="Data Source=ORACLE82;User id=system;Password=aaaabbbccc" providerName="HBB.DataContext" />
  </connectionStrings>
  <appSettings>
    <!--操作数据库连接的默认用户名-->
    <add key="DefaultUser" value="oayh1" />
    <add key="DbCount" value="2" />
    <!--连接数据库的服务名，若未指定索引号则默认取：dbservername0的值-->
    <add key="dbservername" value="oracle82" />
    <add key="dbservername0" value="tongl" />
    <add key="dbservername1" value="his8" />
    <add key="dbservername2" value="oracle82" />
    <!--数据库预连接用户名-->
    <add key="predbuser" value="his" />
    <!--预链接密码-->
    <add key="predbpwd" value="h7j1y4s5g" />
    <add key="xtgl3" value="oayh1" />
    <add key="isc" value="oayh1" />
    <add key="rsk1" value="oayh1" />
    <add key="cwgl1" value="oayh1" />
    <add key="admin" value="oayh1" />
    <add key="cwsf3" value="oayh1" />
    <add key="ylgz3" value="oayh1" />
    <add key="CrystalImageCleaner-AutoStart" value="true" />
    <add key="CrystalImageCleaner-Sleep" value="60000" />
    <add key="CrystalImageCleaner-Age" value="120000" />
    <add key="dbuser0" value="xtgl3" />
    <add key="dbuser1" value="" />
    <add key="dbuser2" value="" />
    <add key="dbuser3" value="" />
    <add key="userName" value="system" />

  </appSettings>
  
  <system.web>
    <compilation debug="true" targetFramework="4.5" />
    <httpRuntime targetFramework="4.5" />
    <!--<globalization requestEncoding="UTF-8" responseEncoding="UTF-8"  />-->
  </system.web>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="Microsoft.Owin" publicKeyToken="31bf3856ad364e35" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-3.0.1.0" newVersion="3.0.1.0" />
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
  
  
</configuration>